.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;

  & .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__address {
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    @media screen and (min-width: 1200px) {
      width: auto;
      margin-right: 70px;
    }
  }

  &__logo {
    color: $accent-color;
    font-family: 'Raleway', cursive;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }

  &__logo-studio {
    color: $primary-bg-color;
  }
}
.address {
  margin-top: 0px;
  margin-bottom: 60px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: $primary-bg-color;

  &__title {
    // margin-top: 28px;
    font-style: normal;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  &__item {
    margin-bottom: 8px;
  }
  &__link {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    // margin-bottom: 60px;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
