.footer-form {
  &__text {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bg-color;
    text-align: center;
    @media screen and (min-width: 1200px) {
      padding-top: 72px;
      text-align: left;
    }
  }
  &__lable {
    @media screen and (min-width: 768px) {
      // width: 50%;
    }
    @media screen and (min-width: 1200px) {
      width: auto;
      display: inline-flex;
    }
  }

  &__mail {
    padding: 15px 16px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2f303a;
    color: $primary-bg-color;
    width: 450px;
    @media screen and (min-width: 768px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }
  &__mail::placeholder {
    font-size: 16px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.6);
  }
  &__button {
    @media screen and (min-width: 1200px) {
      margin: 0;
      margin-left: 12px;
    }
    @extend %button;
    @extend %center;
    height: 50px;
    min-height: 50px;
    width: 200px;

    padding: 10px 28px;
    margin-left: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}

.icon-send {
  margin-left: 10px;
}
