.page-header {
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  &__main-div {
    @media screen and (min-width: 1200px) {
      justify-content: space-around;
    }
  }

  &__main-nav {
    @media screen and (min-width: 480px) {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }
}
.menu-button {
  display: inline-flex;
  margin: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu-button .is-close .icon-cross {
  display: block;
}
.menu-button .is-open .icon-menu {
  display: none;
}
.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    background-color: #ffff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 40px;
    line-height: 1.18;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    top: 100%;
  }
}

.cross-btn {
  display: flex;
  margin-left: auto;
  margin-right: 25px;
  @media screen and (min-width: 768px) {
    display: none;
  }

  .cross-btn:hover {
    color: $accent-color;
  }

  .icon-cross:hover {
    fill: $accent-color;
  }
}
